<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改旅游旅客</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/common/bootstrap/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/common/global.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/personal.css" media="all">
</head>
<body>
<section class="layui-larry-box">
    <div class="larry-personal">
        <header class="larry-personal-tit">
            <span>修改旅游旅客</span>
        </header><!-- /header -->
        <div class="larry-personal-body clearfix">
            <form class="layui-form col-lg-5" action="" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">大人姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="realname_da"  autocomplete="off" class="layui-input" value="{if !empty($list.realname_da)}{$list.realname_da}{/if}"  placeholder="输入大人姓名">
                        <input type="hidden" name="id" value="{$id}" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">大人身份证</label>
                    <div class="layui-input-block">
                        <input type="text" name="cartid"  autocomplete="off" class="layui-input" value="{if !empty($list.cartid)}{$list.cartid}{/if}"  placeholder="输入大人姓名">

                    </div>
                </div><div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-block">
                    <input type="text" name="mobile"  autocomplete="off" class="layui-input" value="{if !empty($list.mobile)}{$list.mobile}{/if}"  placeholder="输入大人身份证">
                </div>
            </div><div class="layui-form-item">
                <label class="layui-form-label">儿童姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="realname0"  autocomplete="off" class="layui-input" value="{if !empty($list.realname0)}{$list.realname0}{/if}"  placeholder="输入儿童姓名">
                </div>
            </div><div class="layui-form-item">
                <label class="layui-form-label">儿童身份证</label>
                <div class="layui-input-block">
                    <input type="text" name="cartid0"  autocomplete="off" class="layui-input" value="{if !empty($list.cartid0)}{$list.cartid0}{/if}"  placeholder="输入儿童身份证">

                </div>
            </div><div class="layui-form-item">
                <label class="layui-form-label">儿童姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="realname1"  autocomplete="off" class="layui-input" value="{if !empty($list.realname1)}{$list.realname1}{/if}"  placeholder="输入儿童姓名">

                </div>
            </div><div class="layui-form-item">
                <label class="layui-form-label">儿童身份证</label>
                <div class="layui-input-block">
                    <input type="text" name="cartid1"  autocomplete="off" class="layui-input" value="{if !empty($list.cartid1)}{$list.cartid1}{/if}"  placeholder="输入儿童身份证">

                </div>
            </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript" src="/static/common/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form','upload'],function(){
        var form = layui.form();
        layui.upload({
            url: '' ,//上传接口
            success: function(res){
                //上传成功后的回调
                console.log(res)
            }
        });

    });
</script>
</body>
</html>