<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>旅游活动</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link href="/static/home/css/base.css" rel="stylesheet" />
    <link href="/static/home/css/currency.css" rel="stylesheet" />
    <link href="/static/home/css/index.css" rel="stylesheet" />
    <script src="/static/home/js/jquery1.10.2.js"></script>
    <script src="/static/home/js/common.js"></script>
    <script src="/static/home/js/fontSize.js"></script>
    <script src="/static/home/layer/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/home/css/wx.css" />
    <link href="/static/home/css/font-awesome.css" rel="stylesheet" />
    <style>
        img{display:block;width:100%}
    </style>
</head>
<body style="position:relative;background:#f2f2f2">

    <!--公共头部-->
    <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.back();return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>旅游活动</p>
    </div>
    <!--公共头部结束-->
    <!--内容主体-->
    <div class="m-sheepvideo">
	    <ul class="sheepvideo-title">
            <li style="width: 100%;"class="ahover">{$res.title}</li>
        </ul>
        
        <!--视频内容-->
        <ul class="sheepvideo-list">
 
                <div class="rich_media_inner">
                    <div id="page-content">
                        <div id="img-content" class="rich_media_area_primary">
	                        <div class="rich_media_content ">
                                    出发时间：{php}echo date('Y年m月d日',$res['stime']){/php}
                            </div><br>
                            <div class="rich_media_content " id="js_content">
                                    {$res.content}
                            </div>
                            <br>
	                            <div class="rich_media_content ">
                                    出发时间：{php}echo date('Y年m月d日',$res['stime']){/php}
                            </div><br>
	                        <div class="rich_media_content " id="js_contentx">
		                        {if condition="($isbaoming)"}
                                    <a href="javascript:(0);" class="cgphone-btn">已报名</a>
                                {else /}
                                	<a href="javascript:baoming();" class="cgphone-btn">点击报名</a>
								{/if}
                            </div>
                        </div>
                    </div>
                </div>
        </ul>
        <!--视频内容结束-->


    </div>
    <!--内容主体结束-->
<script type="text/javascript">
	function baoming(){
			$.ajax({
                type: 'POST',
                url: '/addons/lvyou/baoming',
                data:{id:{$res.id}},
                dataType:'json',
                success: function(data){
                    if(data.code){
	                    $('#js_contentx').html('<a href="javascript:(0);" class="cgphone-btn">已报名</a>');
                        layer.msg(data.msg);
                    }else{
                        layer.msg(data.msg);
                    }
                },
                error: function(xhr){
                    layer.msg('error');
                }
            });
        }
</script>
</body>
</html>
