{include file="header"/}
</head>
<body style="position:relative;">

    <!--公共头部-->
    <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.back();return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>收益说明</p>
    </div>
    <!--公共头部结束-->
    <!--内容主体-->
    <div class="m-qstdetail">
        <p> 1、从用户认领食花百草羊并经确认之后，可在羊肉屠宰季内随时兑换成等值羊肉产品，所兑换羊只之后将不涉及其他收益问题。</p>
        <p> 2、用户可选择将所认购羊只兑换成原生态草原深度旅游体验（兑换流程详见活动安排），所兑换羊只之后将不涉及其他收益问题。</p>
        <p> 3、用户领养食花百草羊和推荐其他人领养均可获得积分奖励，此积分可作为商城付费货币，根据商城规则进行礼品兑换、草原深度旅游兑换或进行积分抽奖等活动。</p>
        <p> 4、用户在活动期间所获得的优惠券，可在规定期限内抵扣使用。</p>
    </div>
    <!--内容主体结束-->

</body>
</html>
