{include file="header"/}
</head>
<style>
    input{
        display: inline!important;
    }
    .app{
        text-align: center;
    }
    .register-logo{
        width: 3rem;
        height: 3rem;
    }
    .m-register{
        padding: 1.3rem 0;
    }
    .register-btn{
        width: 2rem;
    }
    .register-btn{
        margin: .1rem .2rem;
    }
</style>
<body style="position:relative;">

<!--公共头部-->
<div class="m-head">
    <p>食花百草羊</p>
</div>
<!--公共头部结束-->
<!--内容主体-->
<div class="m-register">
    <!--公司logo-->
    <img src="/static/home/images/logo.jpg" class="register-logo" />
    <!--公司logo结束-->

    <!--昵称-->

    <!--信息输入结束-->
    <!--登录按钮-->
    <div class="app">
        <input type="button"  onClick="location.href='http://yang.oioos.com/appupdate/ZG_wearerancher_1.0.apk'" class="register-btn" value="安卓APP下载" />
        <input type="button"   onClick="location.href='http://yang.oioos.com/index/login/reg.html?pasture={$pasture}'" class="register-btn" value="直接注册账户" />
    </div>
    <!--登录按钮结束-->

</div>
<!--内容主体结束-->
<script>

</script>
</body>
</html>
