{include file="header"/}
    <link href="/static/home/css/swiper-3.3.1.min.css" rel="stylesheet" />
    <script src="/static/home/js/swiper-3.3.1.jquery.min.js"></script>
</head>
<body style="position:relative;">

    <!--公共头部-->
    <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.back();return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>羊圈公告</p>
    </div>
    <!--内容主体-->
    <div class="m-notice">

        <ul>
            {if !empty($fabu)}
            <li>
                <div class="notice-title">
                   食花百草羊{$fabu.gname}已开售，各位牧场主请速来抢购
                </div>
                <div class="notice-content">
                    食花百草羊{$fabu.gname}已开售，仅剩{$fabu.stock}只食花百草羊待认领，手快有手慢无，各位牧场主赶紧行动起来吧。
                </div>
                <div class="notice-time">
                  {php}echo date('Y-m-d h:i') {/php}
                </div>
            </li>
            {/if}
            {volist name="isorder" id="vo"}
            <li>
                <div class="notice-title">
                    养羊公告
                </div>
                <div class="notice-content">
                    恭喜{if !empty($vo.username)}{$vo.username}{else !empty($vo.realname)/}{$vo.realname}{/if}领养{$vo.gname}成功，成为食花百草羊尊贵牧场主！
                </div>
                <div class="notice-time">
                    {php}echo date('Y-m-d h:i',$vo['creationtime']) {/php}
                </div>
            </li>
            {/volist}
            {volist name="notice" id="vo"}
            <li>
                <div class="notice-title">
                    {$vo.title}
                </div>
                <div class="notice-content">
                    {$vo.content}
                </div>
                <div class="notice-time">
                    {php}echo date('Y-m-d h:i',$vo['createtime']) {/php}
                </div>
            </li>
            {/volist}
        </ul>

    </div>
    <!--内容主体结束-->



</body>
</html>
