{include file="header"/}
    <link rel="stylesheet" type="text/css" href="/static/home/css/wx.css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/page_mp_article_improve_combo322696.css">
<link rel="stylesheet" href="/static/dist/photoswipe.css">
<link rel="stylesheet" href="/static/dist/default-skin/default-skin.css">

<script src="/static/dist/photoswipe.js"></script>
<script src="/static/dist/photoswipe-ui-default.min.js"></script>
    <style>
        /*img{display:block;width:100%}*/
        .item-pic-list ul {
            overflow: hidden;
        }
        .item-pic-list ul li {
            float: left;
            width: 2.9rem;
            box-sizing: border-box;
            padding: .02rem;
            text-align: center;
            margin-top: .08rem;
        }
        .item-pic-list ul li img {
            width: 2.5rem;
            height: 2.5rem !important;
        }
        .goods-pic {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: .3rem;
            display: inline-block;
            background-color: #ddd;
            background-size: cover;
            background-position: center;
        }
        #submit{
            margin-left: .1rem;
            background-color: #f66c48;
            color: #fff;
            font-size: .29rem;
            padding: .06rem .3rem;
            line-height: .4rem;
            height: .4rem;
            border-radius: .1rem;
            width: .6rem;
            float: right;
        }
        figure{
            display: inline;
            float: left;
        }
    </style>
</head>
<body id="activity-detail" class="zh_CN mm_appmsg not_in_mm">
    <div id="js_article" class="rich_media">
        <div id="js_top_ad_area" class="top_banner" style="display: none;">
 
        </div>
         <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.back();return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>{$myarticle.title}</p>
    </div>
        <div class="rich_media_inner">
                        <div id="page-content">
                <div id="img-content" class="rich_media_area_primary">
                    <h2 class="rich_media_title" id="activity-name"  style="display:block;">
                        {$myarticle.title}
                    </h2>
                    <div class="rich_media_meta_list"  style="display:unset;font-size: 0.3rem">
                        <em id="post-date" class="rich_media_meta rich_media_meta_text">{php}echo date("Y-m-d",$myarticle['createtime']){/php}</em>
                        <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="{$myarticle.hits}" id="post-user">{$myarticle.username}</a>
                        {if condition='$isdelarticle eq 1 '} <a class="del_article" style="float: right" value="{$myarticle.id}"> 删除</a> {/if}
                        <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">{$myarticle.username}</span>

                        <div id="js_profile_qrcode" class="profile_container">
                            <span class="profile_arrow_wrp" id="js_profile_arrow_wrp">
                                <i class="profile_arrow arrow_out"></i>
                                <i class="profile_arrow arrow_in"></i>
                            </span>
                        </div>

                    </div>

                    <div class="rich_media_content " id="js_content">
                        {$myarticle.content}
                    </div>
                    <div class="ct_mpda_wrp" id="js_sponsor_ad_area" style=" ;">
                    </div>
                    <div class="product-img-module item-pic-list">
                        <!--<a class="J_ping" report-eventid="MProductdetail_CommentPictureTab" report-pageparam="1725965683" >-->
                        <div class="my-gallery" >
                        <ul class="">
                                {foreach name="$myarticle['img']" key="key" item="v2"}
                                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="{$v2}" data-size = {$myarticle['size'][$key][0]}x{$myarticle['size'][$key][1]} itemprop="contentUrl" >
                                                <div class="goods-pic" style="background-image: url({$v2})"></div>
                                                <img src="{$v2}" style="display: none" itemprop="thumbnail">
                                            </a>
                                        </figure>
                                {/foreach}
                            </ul>
                        </div>
                        <!--</a>-->
                    </div>
                    <div class="rich_media_tool" id="js_toobar3" style="display:block;">
                        <div id="js_read_area3" class="media_tool_meta tips_global meta_primary" style=" ;">阅读 {$myarticle.hits}<span id="readNum3"></span> </div>
                        <span style=" ;" class="media_tool_meta meta_primary tips_global meta_praise" id="like3" onclick="dianzan();">
                            <i class="icon_praise_gray" style="<?php if($iszan == 1){ echo'background-position:0 -18px';}?>" ></i><span class="praise_num" id="likeNum3"></span>
                            <span class="tips_global" id="dianzannum" style="margin-left: 0 ;">{$myarticle.zan}</span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <!--<button class="pswp__button pswp__button&#45;&#45;share" title="Share"></button>-->

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

        <div style="width:100%;background-color:#fff;height: 1rem">
            <p onclick="toupiao({$myarticle['id']})" id="submit" >投票</p>
        </div>
    <div class='community-comment' id="comList">
        <ul>
            {volist name='list' id='vo'}
            {php}
            $isdel = 0;
            if(@$_SESSION['think']['user']['user_id']){
            $userid = $_SESSION['think']['user']['user_id'];
            if($vo['userid'] == $userid){
                $isdel = 1;
            }
            $iszan = db('comment') -> where('userid',$userid)->where('mid',$vo['id'])->where('comment',Null)->value('iszan');
            }elseif(@$_COOKIE['mobile']){
            $mobile = $_COOKIE['mobile'];
            $userid = db('member') -> where('mobile',$mobile) -> value('id');
            if($vo['userid'] == $userid){
                $isdel = 1;
            }
            $iszan = db('comment') -> where('userid',$userid)->where('mid',$vo['id'])->where('comment',Null)->value('iszan');
            }else{
            $iszan = 0;
            }
            {/php}

            <li class="comment_border" style="border-bottom:0.08rem solid #ececec;">
                <div class='comment-wrapper'>
                    <img class='comment-user-profile' src="{php}if(!empty($vo['avatar'])) echo imgUrl($vo['avatar']);else echo '/static/home/images/logo.jpg'{/php}">
                    <span class="comment-username" style="display: inline">{$vo.username}</span>
                    {if condition='$isdel eq 1 '} <a class="del" style="float: right" value="{$vo.id}"> 删除</a> {/if}
                    <a href="{:url('index/discovery/comment_list',array('id'=> $vo.id))}">
                        <p class="comment-content comment">{$vo.comment}</p>
                        <div class="comment-image-wrapper">
                        </div>
                    </a>
                    <div class="comment-date">
                        <span>{$vo.timestr}</span>
                        <i class="fa fa-commenting fa-lg message-icon" value="{$vo.id}" >{$vo.comment_count}</i>
                        <i class="fa fa-heart fa-lg love-icon {if condition='$iszan eq 1 '} love_red {/if}" value="{$vo.id}">{$vo.zan}</i>
                    </div>
                </div>
            </li>
            {/volist}
        </ul>
        {if condition="($count gt $current_count) AND (count($commentlist) eq $page_count)"}
        <div class="getmore" style="font-size:.32rem;text-align:center;color:#888;padding:.25rem .24rem .4rem; clear:both">
            <a href="javascript:void(0)" onClick="ajaxSourchSubmit();">点击加载更多</a>
        </div>
        {elseif condition="($count elt $current_count AND $count gt 0)" /}
        <div class="score enkecor" style="font-size:.32rem;text-align:center;color:#888;padding:.25rem .24rem .4rem; clear:both">已显示完所有内容</div>
        {else /}
        {/if}
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->


<script>

    var initPhotoSwipeFromDOM = function(gallerySelector) {

        // parse slide data (url, title, size ...) from DOM elements
        // (children of gallerySelector)
        var parseThumbnailElements = function(el) {
            var thumbElements = el.childNodes,
                numNodes = thumbElements.length,
                items = [],
                figureEl,
                linkEl,
                size,
                item;

            for(var i = 0; i < numNodes; i++) {

                figureEl = thumbElements[i]; // <figure> element

                // include only element nodes
                if(figureEl.nodeType !== 1) {
                    continue;
                }

                linkEl = figureEl.children[0]; // <a> element

                size = linkEl.getAttribute('data-size').split('x');

                // create slide object
                item = {
                    src: linkEl.getAttribute('href'),
                    w: parseInt(size[0], 10),
                    h: parseInt(size[1], 10)
                };



                if(figureEl.children.length > 1) {
                    // <figcaption> content
                    item.title = figureEl.children[0].innerHTML;
                }

                if(linkEl.children.length > 0) {
                    // <img> thumbnail element, retrieving thumbnail url
                    item.msrc = linkEl.children[0].getAttribute('src');

                }

                item.el = figureEl; // save link to element for getThumbBoundsFn
                items.push(item);
            }

            return items;
        };

        // find nearest parent element
        var closest = function closest(el, fn) {
            return el && ( fn(el) ? el : closest(el.parentNode, fn) );
        };

        // triggers when user clicks on thumbnail
        var onThumbnailsClick = function(e) {
            e = e || window.event;
            e.preventDefault ? e.preventDefault() : e.returnValue = false;

            var eTarget = e.target || e.srcElement;

            // find root element of slide
            var clickedListItem = closest(eTarget, function(el) {
                return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
            });

            if(!clickedListItem) {
                return;
            }

            // find index of clicked item by looping through all child nodes
            // alternatively, you may define index via data- attribute
            var clickedGallery = clickedListItem.parentNode,
                childNodes = clickedListItem.parentNode.childNodes,
                numChildNodes = childNodes.length,
                nodeIndex = 0,
                index;

            for (var i = 0; i < numChildNodes; i++) {
                if(childNodes[i].nodeType !== 1) {
                    continue;
                }

                if(childNodes[i] === clickedListItem) {
                    index = nodeIndex;
                    break;
                }
                nodeIndex++;
            }



            if(index >= 0) {
                // open PhotoSwipe if valid index found
                openPhotoSwipe( index, clickedGallery );
            }
            return false;
        };

        // parse picture index and gallery index from URL (#&pid=1&gid=2)
        var photoswipeParseHash = function() {
            var hash = window.location.hash.substring(1),
                params = {};

            if(hash.length < 5) {
                return params;
            }

            var vars = hash.split('&');
            for (var i = 0; i < vars.length; i++) {
                if(!vars[i]) {
                    continue;
                }
                var pair = vars[i].split('=');
                if(pair.length < 2) {
                    continue;
                }
                params[pair[0]] = pair[1];
            }

            if(params.gid) {
                params.gid = parseInt(params.gid, 10);
            }

            return params;
        };

        var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
            var pswpElement = document.querySelectorAll('.pswp')[0],
                gallery,
                options,
                items;

            items = parseThumbnailElements(galleryElement);
            //alert(items[0]['src'])
            // define options (if needed)
            options = {

                // define gallery index (for URL)
                galleryUID: galleryElement.getAttribute('data-pswp-uid'),

                getThumbBoundsFn: function(index) {
                    // See Options -> getThumbBoundsFn section of documentation for more info
                    var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                        pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                        rect = thumbnail.getBoundingClientRect();

                    return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
                }

            };

            // PhotoSwipe opened from URL
            if(fromURL) {
                if(options.galleryPIDs) {
                    // parse real index when custom PIDs are used
                    // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                    for(var j = 0; j < items.length; j++) {
                        if(items[j].pid == index) {
                            options.index = j;
                            break;
                        }
                    }
                } else {
                    // in URL indexes start from 1
                    options.index = parseInt(index, 10) - 1;
                }
            } else {
                options.index = parseInt(index, 10);
            }

            // exit if index not found
            if( isNaN(options.index) ) {
                return;
            }

            if(disableAnimation) {
                options.showAnimationDuration = 0;
            }

            // Pass data to PhotoSwipe and initialize it
            gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        };

        // loop through all gallery elements and bind events
        var galleryElements = document.querySelectorAll( gallerySelector );

        for(var i = 0, l = galleryElements.length; i < l; i++) {
            galleryElements[i].setAttribute('data-pswp-uid', i+1);
            galleryElements[i].onclick = onThumbnailsClick;
        }

        // Parse URL and open gallery if it contains #&pid=3&gid=1
        var hashData = photoswipeParseHash();
        if(hashData.pid && hashData.gid) {
            openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
        }
    };

    // execute above function
    initPhotoSwipeFromDOM('.my-gallery');


 function toupiao(id) {
     $.ajax({
         type: "post",
         url: "{:url('index/user/toupiao')}",
         async:false,
         data: {
             "id":id
         },
         success : function(data){
             if(data.status == 0){
                 layer.msg(data.msg,{ time: 2000});
             }
//             setTimeout("layer.closeAll()",1500)
//             window.location.href="{:url('index/user/photograph')}";
         }
     });
 }
    if({$p}){
        var page = {$p};
    }else{
        var page = 1 ;
    }

    $(".del_article").click(function () {
        var id = ($(this).attr('value'));
        layer.confirm('您确定要删除吗？', {
            btn: ['确定','取消'] //按钮
        }, function()
        {
            $.ajax({
                    type: "post",
                    url: "{:url('index/user/del_article')}",
                data: {
            "id":id
        },
            success : function(data){
                if(data.status == 0){
                    layer.msg(data.msg,{ time: 2000});
                }
                setTimeout("layer.closeAll()",1500)
                window.location.href="{:url('index/user/photograph')}";
            }
        });
        });

    })
    $(".del").click(function () {
        var id = ($(this).attr('value'));
        layer.confirm('您确定要删除吗？', {
            btn: ['确定','取消'] //按钮
        }, function()
        {
            $.ajax({
                type: "post",
                url: "{:url('index/discovery/del_comment')}"+"&aid="+{$myarticle.id},
                data: {
                    "id":id
                },
                success : function(data){
                    if(data.status == 0){
                        layer.msg(data.msg,{ time: 2000});
                    }
                    setTimeout("layer.closeAll()",1500)
                    location.reload();
                }
            });
        });

    })
    $(".message-icon").click(function () {
        var id = ($(this).attr('value'));
        $.ajax({
            type: 'post',
            url: "{:url('index/discovery/iscomment_login')}?mid="+id+"&aid="+{$myarticle.id},
            async:false,
            dataType:'json',
            success: function(data){
                if(data.status==1){
                    layer.open({
                        type: 1,
                        area: ['5.5rem', '4.2rem'],
                        title: '评论',
                        shadeClose: true, //点击遮罩关闭
                        content: '\<\div style="padding:.1rem;" class="comment-window-wrapper"><textarea class="comment-alert" name="comment" id="comment">\<\/textarea>\<input class="comment-alert-submit" type="button" id="comment_sub" value="提交评论">\<\/div>',
                        end: function () {
                            location.reload();
                        }
                    });
                    $('#comment_sub').on('click', function(){
                        $.ajax({
                            type: 'post',
                            url: "{:url('index/discovery/comment')}?mid="+id+"&aid=" + {$myarticle.id} + "&cid=0",
                            async: false,
                            dataType: 'json',
                            data:{comment:$('#comment').val()},
                            success:function (res) {
                                if(res.status==2){
                                    layer.msg(res.msg,{anim:0});
                                    setTimeout("layer.closeAll()",1500)
                                }else if(res.status==0){
                                    layer.msg(res.msg,{anim:6})
                                    setTimeout("layer.closeAll()",1500)
                                }
                            }
                        })

                    });
                }else{
                    layer.msg(data.msg,{anim:6});
                    return false;
                }
            }
        })
    })
 function   dianzan(){
        var url="{:url('index/discovery/comment')}";

        var id = {:input('id')};

        if(id<0){
            return;
        }
        $.ajax({
            type:'get',
            url:url, 
            data:{    
                 aid:id,
                mid:0
            }, 
            success: function(ok){
                if(ok.status==1){
                    var dianzannum=$("#dianzannum").text();
                    dianzannum=parseInt(dianzannum)+1;
                    //alert(dianzannum);
                    $("#dianzannum").text(dianzannum);
                    $(".icon_praise_gray").attr("style","background-position:0 -18px");
                    //alert('成功');
                }else{
                    alert(ok.msg);
                }

            }
        });
}

function GetQueryString(name)
{
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
}
function fxshow(){
    $('#yjfx').show();
}
function fxhide(){
    $('#yjfx').hide();
}

    $(".love-icon").click(function () {
        var id = ($(this).attr('value'));
        var num=parseInt($(this).text());
        var a = $(this);
        // ($(this).text(2))
        $.ajax({
            type: 'get',
            url: "{:url('index/discovery/comment_love')}?mid="+id+"&aid="+{$myarticle.id},
            data:{

            },
            async:false,
            dataType:'json',
            success: function(data){
                if(data.status==1){
                    a.addClass("love_red");
                    num +=1;
                    a.text(num)
                    layer.msg(data.msg,{anim:0});

                }else{
                    layer.msg(data.msg,{anim:6});
                }
            },
            error: function(xhr){
                layer.msg('网络错误，请稍后再试');
            }
        });
    })
        
</script>




      


 
</body>

</html>