{include file="header"/}
 <link rel="stylesheet" href="/static/home/layui/css/layui.css"  media="all">
</head>
<body style="position:relative;">
<style>
    .myorder-class li{
        width: 20%;
    }
</style>
    <!--公共头部-->
    <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.back();return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>羊羔兑换记录</p>
    </div>
    <!--公共头部结束-->
    <!--内容主体-->
    <div class="m-myorder">

        <!--订单分类-->
        <ul class="myorder-class">
            <li class="ahover">
                <a href="javascript:;"  onclick="getMyorder(4)">全部</a>
            </li>
            <li>
                <a href="javascript:;"  onclick="getMyorder(1)">待审核</a>
            </li>
            <li>
                <a href="javascript:;"  onclick="getMyorder(3)">待收货</a>
            </li>
            <li>
                <a href="javascript:;"  onclick="getMyorder(2)">已完成</a>
            </li>
            <li>
                <a href="javascript:;"  onclick="getMyorder(-1)">已驳回</a>
            </li>
            <!--<li>-->
                <!--<a href="javascript:;"  onclick="getMyorder(4)">已取消</a>-->
            <!--</li>-->
        </ul>
        <!--订单分类结束-->
        <!--订单列表-->
        <ul class="myorder-list">
            <li class="ahover" id="li_status_-1" >
                {volist name='list' id='vo'}
                <div class="listBox">
                    <div class="order-numb">
                        <p>兑换编号：<span>{$vo.sellsn}</span></p>
                        <p>{if $vo.status==1}待审核{elseif $vo.status==2 /}已完成{elseif $vo.status==-1 /}已驳回{/if}</p>
                    </div>
                    <a href="javascript:;" class="order-info">
                        <img src="{php}if(!empty($vo['avatar'])) echo imgUrl($vo['avatar']);else echo '/static/home/images/videobg.jpg';{/php}" class="info-photo" />
                        <div class="info-detail">
                            <p style="padding: 0">{$vo.lambname}</p>
                            {php}if($vo['money'] > 0){{/php}
                            <span style="margin-top: .1rem">兑换类型：收益</span>
                            <span style="margin-top: .1rem">收益金额：{$vo.money}元</span>
                            <span style="display: inline">状态：{if $vo.status == 1}待审核 {elseif $vo.status == 2}<strong style="color: red">已完成</strong> {elseif $vo.status == -1}<strong style="color: red">已驳回</strong>{/if}</span>
                            {php}}elseif($vo['exchange'] == 1){{/php}
                            <span style="margin-top: .1rem">兑换类型：产品</span>
                              <span style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap">送货地址：{php}$address = db('address')->where('id',$vo['address_id'])->find();{/php}{$address.province}-{$address.city}-{$address.area}-{$address.detailed}</span>
                            <span style="display: inline">状态：{if $vo.status == 1}待审核 {elseif $vo.status == 2}<strong style="color: red">已完成</strong>{elseif $vo.status == 3}待收货 {elseif $vo.status == -1}<strong style="color: red">已驳回</strong>{/if}</span>

                            {php}}elseif($vo['exchange'] == 3){ {/php}
                            <span style="margin-top: .1rem">兑换类型：旅游</span>
                            <span  style="margin-top: .1rem" onclick="detail(this)">旅游计划：<strong style="color:blue">查看详情</strong></span>
                            <span style="display: inline">状态：{if $vo.status == 1}待审核 {elseif $vo.status == 2 || $vo.status ==4}<strong style="color: red">已完成</strong> {elseif $vo.status == -1}<strong style="color: red">已驳回</strong>{elseif $vo.status == -2}<strong style="color: red">已申请取消行程</strong>{/if}{if $vo.isdelete == 1}<strong style="color: red">&nbsp;取消行程</strong>{/if}</span>
                            {php}}elseif($vo['exchange']==4){{/php}
                            <span style="margin-top: .1rem">兑换类型：赠送</span>
                            <span>好友ID：{$vo.buyid}</span>
                            <span style="display: inline">状态：{if $vo.status == 1}待审核 {elseif $vo.status == 2}<strong style="color: red">已完成</strong>{/if}</span>
                            {php}}{/php}
                        </div>
                        <div class="order-time" style="height: .35rem">
                            <a href="{:url('index/user/exchange_detail',array('id'=>$vo.id))}">查看详情</a>
                        </div>
                    </a>
                    <div class="order-time">
                        <p>兑换时间：</p>
                        <p>{php}echo date("Y-m-d H:i",$vo['creationtime']);{/php}</p>
                    </div>
                </div>
                {/volist}
            </li>
            <li id="li_status_1">
            </li>
            <li id="li_status_3">
            </li>
            <li id="li_status_2">
            </li>
            <li id='li_status_10'>
            </li>
        </ul>
        <!--订单列表结束-->

    </div>
    <!--内容主体结束-->
<ul class="myorder-list"  id="LAY_demo1"></ul>
<input type="hidden" name="status" value="-1" id="status">
<input type="hidden" name="page" value="1"> 
<script src="/static/home/layui/layui.js?t=1515376178709"></script>
<script>
</script>
 <script>
     function detail(obj) {
         var url = "/index/discovery/content/id/16/agentid/"+{$uid}+".html";

         window.location.href=url;
     }
        function getMyorder(status){
            var page = 1;
            $("#status").val(status);
            $.ajax({
                type: 'POST',
                url: '{:url("/index/user/get_exchange")}',
                data:{
                    status:status,
                    page:page
                },
                dataType:'json',
                success: function(date){
                    if(date.type==1){
                        var html = '';
                        $.each(date.data,function(index,value){
                            html+='<div class="listBox">';
                            html+='    <div class="order-numb">';
                            html+='        <p>兑换编号：<span>'+value.sellsn+'</span></p>';
                            if(status==1){
                                html+='        <p>待审核</p>';
                            }else if(status==2){
                                html+='      <p>已完成</p>';
                            }else if(status==-1){
                                html+='        <p>已驳回</p>';
                            }
                            if(status == 4){

                                if (value.status == 1) {
                                    html+='<p>待审核</p>';
                                } else if (value.status == 2) {
                                    html+=' <p>已完成</p>';
                                } else if (value.status == -1) {
                                    html+='        <p>已驳回</p>';
                                }
                            }

                            if(value.avatar){
                                var img = '/server/'+value.avatar;
                            }else{
                                var img ='/static/home/images/sheep.jpg';
                            }
                            
                            html+='    </div>';
                            html+='    <a href="javascript:;" class="order-info">';
                            html+='        <img src="'+img+'" class="info-photo" />';
                            html+='        <div class="info-detail">';
                            html+='            <p style="padding:0">'+value.lambname+'</p>';
                            if(value.money > 0){
                                html+='             <span style="margin-top: .1rem">兑换类型：收益</span>';
                                html+='   <span style="margin-top: .1rem">收益金额：'+value.money+'元</span>';
                                html+='<span style="display: inline">状态：';
                                if (value.status == 1) {
                                    html += '待审核';
                                }else if (value.status == 2){
                                    html +='已完成';
                                } else if (value.status == -1){
                                    html +='<strong style="color: red">已驳回</strong>';
                                }
                                html+='</span>';
                            }else if(value.exchange == 1){
                               html+=' <span style="margin-top: .1rem">兑换类型：产品</span>';
                                html+= '<span style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap">送货地址：'
                                html+=date.address.province+" -"+ date.address.city +'-'+ date.address.area +'-'+ date.address.detailed+"</span>";
                                html+='<span style="display: inline">状态：';
                                    if(value.status == 1){
                                        html+='待审核';
                                    } else if(value.status == 2){
                                        html+='<strong style="color: red">'+'已完成'+'</strong>';
                                    } else if(value.status == 3){
                                        html+='待收货';
                                    } else if (value.status == -1){
                                        html+='<strong style="color: red">'+'已驳回'+'</strong>';
                                    }
                                   html+='</span>';
                            }else if(value.exchange == 3){
                                html+='<span style="margin-top: .1rem">兑换类型：旅游</span>';
                                html+='<span  style="margin-top: .1rem" onclick="detail(this)">旅游计划：<strong style="color:blue">查看详情</strong></span>';
                                html+='<span style="display: inline">状态：';
                                if (value.status == 1) {
                                    html += '待审核';
                                }else if (value.status == 2){
                                    html +='<strong style="color: red">已完成</strong>';
                                } else if( value.status == -1){
                                    html +='<strong style="color: red">已驳回</strong>';
                                }
                            }else if(value.exchange == 4){
                                    html +=' <span style="margin-top: .1rem">兑换类型：赠送好友</span>' +
                                        ' <span>好友ID：'+value.buyid+'</span>'
                                    html +='<strong style="color: red">已完成</strong>';
                            }

                            html+='        </div>';
                            html+='        <div class="info-numb">';
                            html+='        </div>';
                            html+='    </a>';
                            html+='    <div class="order-time" style="height: .35rem">';
                            if(value.price > 0){
                                html+='         <a href="/index/user/exchange_detail/id/'+value.id+'">查看详情</a>';
                            }else {
                                html+='         <a href="/index/user/exchange_detail/id/'+value.id+'">查看详情</a>';
                            }

                            //html+='        <p><span>'+formatDateTime(value.paytime)+'</span></p>';
                            //html+='        <p>共计：<i class="fa fa-yen"></i><span>'+value.money+'</span></p>';
                            html+='    </div>';
                            html+='    <div class="order-time">';
                            html+='         <p>兑换时间：</p>';
                            html+='         <p>'+formatDateTime(value.creationtime)+'</p>';
                            html+='    </div>';
                            
                            html+='</div>';
                        });
                        $("#LAY_demo1").html('');
                        if(status == -1 ){
                            $("#li_status_10").html(html);
                        }else{
                            $("#li_status_"+status).html(html);
                        }

                    }else{
                        layer.msg(date.data);
                    }
                },
                error: function(xhr){
                    layer.msg('error');
                }
            });
        }
        function formatDateTime(timeStamp) {   
            var date = new Date();  
            date.setTime(timeStamp * 1000);  
            var y = date.getFullYear();      
            var m = date.getMonth() + 1;      
            m = m < 10 ? ('0' + m) : m;      
            var d = date.getDate();      
            d = d < 10 ? ('0' + d) : d;      
            var h = date.getHours();    
            h = h < 10 ? ('0' + h) : h;    
            var minute = date.getMinutes();    
            var second = date.getSeconds();    
            minute = minute < 10 ? ('0' + minute) : minute;      
            second = second < 10 ? ('0' + second) : second;     
            return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;      
        };   
        </script>
</body>
</html>
