{include file="header"/}
</head>
<style>
    #anniu { display: block; float: right;  right: .2rem; background: #f66c48; color: #fff; padding: .1rem .2rem; font-size: .25rem; border-radius: .1rem; overflow: hidden; }
</style>
<body style="position:relative;">

    <!--公共头部-->
    <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.back();return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>订单详情</p>
    </div>
    <!--公共头部结束-->
    <!--内容主体-->
    <div class="m-orderdetail">
        <!--订单编号-->
        <div class="orderdetail-numb">
            <p>订单编号：<span>{$myorder.0.ordersn}</span></p>
        </div>
        <!--订单编号结束-->
        <!--羊羔信息-->
        <div class="orderdetail-sheep">
            {volist name="myorder" id="vo"}
            <div class="infoBox">
                <div class="info-photo">
                    <img src="{php}if(!empty($vo['img'])) echo imgUrl($vo['img']);else echo imgUrl(''){/php}" style="position: unset"/>
                </div>
                <div class="info-detail">
                    <div class="detail-name">商品名字：<span>{$vo.gname}</span></div>
                    <div class="detail-cycle">送货地址：<span>{$vo.address}</span><u></u></div>

                </div>
            </div>
            {/volist}
        </div>
        <!--羊羔信息结束-->
        <!--资金信息-->
        <div class="orderdetail-money">
            <div class="moneyBox">
                <span>商品单价</span>
                <p><i class="fa fa-yen"></i><u>{$myorder.0.price2}</u></p>
            </div>
<!--            <div class="moneyBox">
                <span>羔羊数量</span>
                <p><u></u></p>
            </div>-->
            <div class="moneyBox">
                <span>订单总价</span>
                <p><i class="fa fa-yen"></i><u>{$myorder.0.integral}</u></p>
            </div>
            <div class="moneyBox moneySum">
                <span>实付款</span>
                <p><i class="fa fa-yen"></i><u>{$myorder.0.integral}</u></p>
            </div>
            {if $myorder.0.status !=3}
            <div class="moneyBox moneySum">
                <a style="" onclick="complete()" id="anniu"> 确认收货</a>
            </div>
            {/if}
        </div>
        <!--资金信息结束-->
        <!--订单信息-->
        <div class="orderdetail-info">
            <p>创建时间：{php}echo date("Y-m-d H:i",$myorder[0]['creationtime']);{/php}</p>
            <p>付款时间：{php}if(!empty($myorder[0]['paytime'])){ echo date("Y-m-d H:i",$myorder[0]['paytime']);}else{ echo '未支付';}{/php}</p>
            <p>支付方式：{if $myorder.0.paytype==1}余额支付{elseif condition="$myorder.0.paytype eq 2 " /}微信支付{elseif  condition="$myorder.0.paytype eq 0 " /}未支付{else/}其他支付{/if}</p>
            <p>订单状态：{if $vo.status == 1}待发货 {elseif $vo.status == 2}<strong style="color: red">待收货</strong>{elseif $vo.status == 3}已收货{/if}</p>
            {if !empty($vo.shipping_time)}<p>配送方式：{$vo.shipping_type}</p>
            <p>物流单号：{$vo.shipping_no}</p>
            {/if}
        </div>
        <!--订单信息结束-->
    </div>
            {if $myorder.0.status==0}
            <a style="display: block;width: 3rem;margin: .2rem auto;padding: .2rem 0;text-align: center;font-size: .3rem;color: #fff;border-radius: .1rem;background: #f66c48" href="{:url('/index/order/pay',array('oid'=>$myorder.0.id))} " >支付订单</a>
            {/if}
    <input type="hidden" name="ordersn" value="{$myorder.0.ordersn}" id="ordersn">
    <!--内容主体结束-->
    <script>
       function complete() {
           // layer.confirm("确认收货吗？", { title: "收货确认" }, function (index) {
           //     layer.close(index);
           //     $.post("{:url('index/user/order_complete')}", { ordersn: $("#ordersn").val() }, function (data) {
           //         layer.alert(data.data,
           //             function (index, item) {
           //                 layer.close(index);
           //                 location.reload();
           //             });
           //     });
           // });
           layer.open({
               content: '确定收货吗？'
               ,btn: ['确定', '关闭']
               ,yes: function(index){
                   $.post("{:url('index/user/order_complete')}", { ordersn: $("#ordersn").val() }, function (data) {
                       layer.alert(data.data)
                   })
                   location.reload();
                   layer.close(index);
               }
           });
        }
    </script>
</body>
</html>
