{include file="header"/}
</head>
<body style="position:relative;">

    <!--公共头部-->
    <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.back();return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>赠送领养协议</p>
    </div>
    <!--公共头部结束-->
    <!--内容主体-->
    <div class="m-protocol">
<!--        <img src="/static/home/images/ht-one.jpg" />
        <img src="/static/home/images/ht-two.jpg" />-->
        <img src="{:url('/index/user/getprotocol1',array('oid'=>$oid))}" />
        {if !empty($isorder['autograph'])}
        <div style="float: left;margin-left: .5rem">
            <span>甲方签字：</span>    <img style="width: 1rem;height: 1rem;float: right;right :.4rem;bottom:.2rem;" src="{php} echo imgUrl($isorder['autograph']);{/php}" />
        </div>
        <div style="float: right;margin-right: .5rem">
            <span>乙方签字：</span>    {if(!empty($isorder['toautograph']))}<img style="width: 1rem;height: 1rem;float:right;right :.4rem;bottom:.2rem;" src="{php} echo imgUrl($isorder['toautograph']);{/php}" />
            {else /}<div style="width: 1rem;height: 1rem;float:right;right :.4rem;bottom:.2rem;"></div>
            {/if}
        </div>
        {/if}
    </div>

</body>
</html>
