{include file="header"/}
</head>
<body style="position:relative;">

    <!--公共头部-->
    <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.back();return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>充值</p>
    </div>
    <!--公共头部结束-->
<form id="formid"  action="/index/user/rechargepay/" method="post">   
    <!--内容主体-->
    <div class="m-take">
        <!--提现信息-->
        <div class="take-info">
            <div class="info-numb">
                <span>金额</span>
                <input type="text" id="money" name="money" maxlength="11" placeholder="输入充值金额" />
            </div>
        </div>
        <!--提现信息结束-->
        <!--提现方式-->
        <div class="take-way">
            <h1>充值</h1>
            <ul>
                {if $paystr == 'wechat' }
                <li>
                    <label>
                        <span><i class="fa fa-wechat weixin"></i>微信充值</span>
                        <input type="radio" name="paytype" value="2" checked="checked" />
                    </label>
                </li>
                {/if}

                <li>
                    <label>
                        <span><i style="color: #00A0E8;" class="fa fa-paypal"></i>支付宝充值</span>
                        <input type="radio" name="paytype" value="3"  />
                    </label>
                </li>

<!--                <li>
                    <label>
                        <span><i class="fa fa-credit-card-alt bankcard"></i>银行卡充值</span>
                        <input type="radio" name="paytype" value="4" />
                    </label>
                </li>-->
            </ul>
        </div>
        <!--提现方式结束-->
        <!--购买按钮-->
        <div class="take-btn">
            <input style="  display: block;width: 3rem; margin: 0 auto; padding: .2rem 0;text-align: center;font-size: .3rem;color: #fff;border-radius: .1rem;background: #81D741;" 
                            type="button" onclick="checkUser();"  value="确认充值" />
        </div>
        <!--购买按钮结束-->
    </div>
    <!--内容主体结束-->
</form>
    <script>
        function checkUser(){
        var money = document.getElementById("money").value;
        
            if(isNaN(money) || money<=0){
            alert("金额必须大于0");
                return false;
            }
            if(money>10000000){
                alert("金额超出限额");
                return false;
            }
            document.getElementById("formid").submit();
        }
    </script>
</body>
</html>
