<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的羊圈 - 食花百草羊</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link href="/static/home/css/base.css" rel="stylesheet" />
    <link href="/static/home/css/currency.css" rel="stylesheet" />
    <link href="/static/home/css/index.css" rel="stylesheet" />
    <script src="/static/home/js/jquery1.10.2.js"></script>
    <script src="/static/home/js/common.js"></script>
    <script src="/static/home/js/fontSize.js"></script>
    <script src="/static/home/layer/layer.js"></script>
    <link href="/static/home/css/font-awesome.css" rel="stylesheet" />
</head>
<body style="position:relative;">

    <!--公共头部-->
    <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.back();return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>我的羊圈</p>
    </div>
    <!--公共头部结束-->
    <!--内容主体-->
    <div class="m-sheepfold">

        <ul>
            {volist name='list' id='vo'}
            <li>
                <img src="{php}if(!empty($vo['img'])) echo imgUrl($vo['img']);else echo imgUrl(''){/php}" class="sheepfold-photo" />
                <div class="sheepfold-name">
                    <p>{$vo.lambname}</p>
                    <span>生长天数：<u>{$vo.czday}</u>天</span>
                </div>
                <a href="{:url('/index/user/sheepdetail',array('id'=>$vo.id))}" class="sheepfold-btn">查看详情</a>
            </li>
            {/volist}
            <li class="sheepfold-plus">
                <a href="{:url('/index/shop/glist')}" class="plus-link"><i class="fa fa-plus"></i></a>
                <div class="plus-text">
                    点击添加
                </div>
            </li>
        </ul>

    </div>
    <!--内容主体结束-->

</body>
</html>
