{include file="header"/}
<META  NAME="save"  CONTENT="history">
</head>
<body style="position:relative;">
<style>
    .saveHistory  {behavior:url(#default#savehistory);}
    .addaddress-user li input[type="text"]{
        width: 4.2rem;
    }
    .addaddress-user li p{
        width: 1.3rem;
    }
    .addaddress-user li input[type="text"]{
        padding: .25rem 0 .17rem 0;
    }
    #connent p{
        display: inline;
    }
    .addaddress-user li{
        padding: 0;
    }
    .addaddress-user li p{
        padding: .15rem 0;
    }
    .address-footer{
        position: unset;
    }
</style>
    <!--公共头部-->
    <div class="m-head">
        <a href="javascript:;" onclick="javascript:window.history.go(-1);return false;" class="head-goback">
            <i class="fa fa-angle-left"></i>
        </a>
        <p>{$webtitle}</p>
    </div>
    <!--公共头部结束-->
    <!--内容主体-->
    <div class="m-soldsheep">
        <!--羊照片-->
        <div class="soldsheep-photo">
            <div class="photoBox">
                <div class="photoBox-int">
                    <img src="/static/home/images/sheep.jpg" />
                </div>
            </div>
            <div class="photoTips"  {if $islamb==true}style=''{else /} style='background: #808080;'{/if}>{if $islamb==true}已成熟{else /}未成熟{/if}</div>
        </div>
        <!--羊照片结束-->
        <!--羊卖价-->
        <div class="soldsheep-money">
            <!--<h1>黑眼羊羊飞天号</h1>
                <input type="text" placeholder="请填写您的意向价格" class="money-numb" />
                <h2>兑换方式</h2>
                <ul class="money-info">
                <li>
                    <label>
                        <span>卖给公司</span>
                        <input type="radio" name="buysheep" checked="checked" />
                    </label>
                </li>
            </ul>-->
            <div class="money-list">
                <select name="exchange" id="exchange">
                    <option value="0">请选择兑换种类</option>
                    <option value="1">兑换产品</option>
                    {if $islamb==true}<option value="2">兑换收益</option>{/if}
                    <option value="3">兑换旅游</option>
                </select>
                <i class="fa fa-caret-down"></i>
            </div>
           
            <div class="money-tips">
                <p class="tipsBox tips-xuanze">
                    请选择兑换类型
                </p>
                <p class="tipsBox tips-product">兑换说明：兑换产品 ——
                    <a href="{:url('/index/discovery/content',array('id'=>15))}">
                        查看详情
                    </a>
                    <div class="m-address tips-product">
                        <ul>
                            {volist name='list' id='vo'}
                                <li id='li_{$vo.id}'>
                                    <input style="display:inline;float: left;margin: 0.35rem 0.25rem 0.35rem 0.05rem;" type="radio" name="defaults" {if $vo.defaults==1}checked="checked"{/if} value="{$vo.id}" >
                                    <div style=" width: 80%;display:inline-block">
                                        <div onclick="javascript:window.location.href='{:url('index/user/addaddress1',array('id'=>$vo.id,'sheep_id'=>$id))}'" class="address-name">
                                            <p>{$vo.name}</p>
                                            <span>{$vo.phone}</span>
                                        </div>
                                        <div class="address-detail">
                                            <i class="fa fa-map-marker"></i><span>{$vo.province}{$vo.city}{$vo.area}{$vo.detailed}</span>
                                        </div>
                                    </div>
                                    <span style="display:inline;float: right;font-size: .25rem;color: #828282;" onclick='del_address({$vo.id})'>
                                        <i class="fa fa-window-close"></i>
                                    </span>
                                </li>
                            {/volist}
                        </ul>
                    </div>

                    <a href="{:url('/index/user/addaddress1')}?sheep_id={$id}" class="address-footer tips-product"><i class="fa fa-plus-circle"></i>添加新地址</a>
                </p>
                {if $islamb==true} <p class="tipsBox tips-sold">兑换说明：兑换收益 ——<a href="{:url('/index/discovery/content',array('id'=>17))}">查看详情</a></p>{/if}
                <p class="tipsBox tips-tourism">
                    兑换说明：兑换旅游 ——<a href="{:url('/index/discovery/content',array('id'=>16))}" id="detail">查看详情</a>
                    <div class="tipsBox tips-tourism">

                <select name="tourtype" id="tourtype" onchange="gradeChange()" style="    padding: .2rem 0;font-size:.25rem;height: 100%;width: 100%"  class="prov">
                    <option value="0">请选择线路</option>
                            {volist name="tourtype" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
               <select name="tourlist" id="tourlist"  style="    padding: .2rem 0;font-size:.25rem;height: 100%;width: 100%"  >
                <option value="0">请选择行程</option>
               </select>

                <div id="connent" style="display: inline;font-size: 0.24rem" ></div>
                <ul class="addaddress-user" id="addaddress-user">

                </ul>
                </p>
            </div>
        </div> </div>
        <!--羊卖价结束-->
        <!--提交按钮-->
        <div class="soldsheep-btn">
           <a href="javascript:sellLamb();">确认提交</a>

            <!--<p>未成熟，暂不能出售</p>-->
        </div>
        <!--提交按钮结束-->
    </div>
    <!--内容主体结束-->
    <input id="lambid" value="{if $mylamb['id'] != ''}{$mylamb.id}{else/} 0 {/if}" type="hidden">
    <input name="id" id="id" value="{$id}" type="hidden">
<script>
//    $(document).ready(function(e) {
//        var counter = 0;
//        if (window.history && window.history.pushState) {
//            $(window).on('popstate', function () {
//                window.history.pushState('forward', null, '#');
//                window.history.forward(1);
//
//                <!-- 此处为监听到浏览器后退按钮的后续事件  例：刷新前一个页面；或者刷新当前页面等-->
//                //window.location.href = window.location.reload();
//                var html= '';
//                $.ajax({
//                    type: 'POST',
//                    url: '{:url("/index/user/getaddress")}',
//                    data:{
//
//                    },
//                    success: function(data) {
//                        for (var i = 0, l = data.length; i < l; i++) {
//
//
////alert(data[i]['id']);alert(data[i]['name'])
////
//
//
//                        }
//                    }
//                });
//
//
//
//            });
//        }
//        window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
//        window.history.forward(1);
//    });
    $(function(){
        var mntips = $("#exchange").val();
        {if !empty($sheep_id)}{
            var mntips = 1;
            $("#exchange").val("1");
        }
        {/if}
    if(mntips == 0){
        $(".tips-product").hide();
        $(".tips-sold").hide();
        $(".tips-tourism").hide();
        $(".tips-xuanze").show();
    }
        $.cookie('mntips',mntips);

            if ($.cookie('mntips') ==1) {
                $(".tips-product").show();
                $(".tips-sold").hide();
                $(".tips-tourism").hide();
            }
            else if ($.cookie('mntips') == 2) {
                $(".tips-product").hide();
                $(".tips-sold").show();
                $(".tips-tourism").hide();
            }
            else if ($.cookie('mntips') == 3) {
                $(".tips-product").hide();
                $(".tips-sold").hide();
                $(".tips-tourism").show();
            };
        var objS = document.getElementById("tourtype");
        var grade = objS.options[objS.selectedIndex].value;
        if(grade == 0 || !grade){
            return false;
        }
        $.cookie('id',grade);
            if($.cookie('id')){
                var grade = $.cookie('id');
                $.ajax({
                    type: 'POST',
                    url: '{:url("/index/user/ajaxlvyou")}',
                    data:{
                        id:$.cookie('id'),
                    },
                    success: function(data){
                        if(data.type==1){
                            $("#connent").html("备注："+data.arr.remark);
                            var href = "{:url('index/user/detail')}"+'?id='+grade;
                            $("#detail").attr("href",href);
                            var num = data.arr.num;
                            var html = ' <li><p>姓名：</p><input type="text" name="realname_da"  id="realname" placeholder="请填姓名，与身份证上一致" class="saveHistory"/></li>\n' +
                                '         <li><p>身份证：</p><input type="text" name=\'cardid\' id="cartid" placeholder="请填身份证号，购买保险用" class="saveHistory"/></li>'+
                                '<li><p>手机号：</p><input type="text" name=\'mobile\' id="mobile" placeholder="请填写手机号码" class="saveHistory"/></li>'
                            ;
                            for(var y = 0; y < num; y++) {
                                var name = "realname"+y;
                                var cardid = "cartid"+y;
                                var nameid = "realname"+y;
                                html += "<li><p>儿童姓名：</p><input type=\"text\" name="+name+" id="+nameid+" placeholder=\"请填姓名，与身份证一致\" class=\"saveHistory\"/></li>\n"  +
                                    "  <li><p>身份证：</p><input type=\"text\" name="+cardid+" id="+cardid+" placeholder=\"身份证号，如没有可填出生证明编号\" class=\"saveHistory\"/></li>";
                            }
                            $("#addaddress-user").html(html);
                            var array=data.data;
                            var length = array.length;
                            var result = "<option value=\"0\">请选择行程</option>";
                            for(var i = 0; i < length; i++) {
                                result += "<option value='"+array[i]['num']+"'>"+'抵达：'+array[i]['arrive']+'&nbsp;返程：'+array[i]['back']+'&nbsp;剩余人数：'+array[i]['people']+"</option>";
                            }
                            $("#tourlist").html(result)



                        }else{
                            layer.msg(data.data);
                        }
                    },
                    error: function(xhr){
                        var html = ' <option value="0">请选择行程</option>';
                        $("#tourlist").html(html)

                    }
                });
            }
    })
        $(".money-list select").change(function () {
            var mntips = $(this).val();
            $.cookie('mntips', mntips);
        if ($.cookie('mntips') ==1) {
            layer.msg("美味的羊肉将会寄到您家中,食品类兑换后不可退单");
            $(".tips-product").show();
            $(".tips-sold").hide();
            $(".tips-xuanze").hide();
            $(".tips-tourism").hide();
        }
        else if ($.cookie('mntips') == 2) {
            $(".tips-product").hide();
            $(".tips-sold").show();
            $(".tips-xuanze").hide();
            $(".tips-tourism").hide();
        }
        else if ($.cookie('mntips') == 3) {
            layer.msg("幸福之旅已为您安排妥当，所有服务已就位，兑换旅游后不可退单还望理解")
            $(".tips-product").hide();
            $(".tips-sold").hide();
            $(".tips-xuanze").hide();
            $(".tips-tourism").show();
        }else{
            $(".tips-product").hide();
            $(".tips-sold").hide();
            $(".tips-tourism").hide();
            $(".tips-xuanze").show();
        }
    })
    function gradeChange(){
        var objS = document.getElementById("tourtype");
        var grade = objS.options[objS.selectedIndex].value;
        $.cookie('id', grade);
        $.ajax({
                type: 'POST',
                url: '{:url("/index/user/ajaxlvyou")}',
                data:{
                    id:grade,
            },
            async:false,
            success: function(data){
            if(data.type==1){
                $("#connent").html("备注："+data.arr.remark);
                var href = "{:url('index/user/detail')}"+'?id='+grade;
                $("#detail").attr("href",href);
                var num = data.arr.num;
                var html = ' <li><p>姓名：</p><input type="text" name="realname_da"  id="realname" placeholder="请填姓名，与身份证上一致" class="saveHistory"/></li>\n' +
                    '         <li><p>身份证：</p><input type="text" name=\'cardid\' id="cartid" placeholder="请填身份证号，购买保险用" class="saveHistory"/></li>'+
                '<li><p>手机号：</p><input type="text" name=\'mobile\' id="mobile" placeholder="请填写手机号码" class="saveHistory"/></li>';

                for(var y = 0; y < num; y++) {
                    var name = "realname"+y;
                    var cardid = "cartid"+y;
                    var nameid = "realname"+y;
                    html += "<li><p>儿童姓名：</p><input type=\"text\" name="+name+" id="+nameid+" placeholder=\"请填姓名，与身份证一致\" class=\"saveHistory\"/></li>\n"  +
                        "  <li><p>身份证：</p><input type=\"text\" name="+cardid+" id="+cardid+" placeholder=\"身份证号，如没有可填出生证明编号\" class=\"saveHistory\"/></li>";
                }
                $("#addaddress-user").html(html);
                var array=data.data;
                var length = array.length;
                    var result = "<option value=\"0\">请选择行程</option>";
                for(var index in array){
                    result = result+ "<option value='"+array[index]['num']+"'>"+'抵达：'+array[index]['arrive']+'&nbsp;返程：'+array[index]['back']+'&nbsp;剩余人数：'+array[index]['people']+"</option>";
                    }
                   $("#tourlist").html(result)



            }else{
                layer.msg(data.data);
            }
        },
        // error: function(xhr){
        //     var html = ' <option value="0">请选择行程</option>';
        //     $("#tourlist").html(html)
        //
        // }
    });
    }
        function sellLamb() {
                var exchange = $('#exchange option:selected').val();
                var id =$("#id").val();
                var tourtype = $("#tourtype").val();
                var tourlist = $("#tourlist").val();
                var realname_da = $("#realname").val();
                var cartid = $("#cartid").val();
                var mobile = $("#mobile").val();
                var realname1 =$("#realname1").val();
                var cartid1 = $("#cartid1").val();
                var realname0 =$("#realname0").val();
                var cartid0 = $("#cartid0").val();
                var address_id = $('input[name="defaults"]:checked ').val();
                var lambid = $("#lambid").val();
            if(lambid == 0){
                layer.msg('羊羔不存在，请重新选择');
                return false;
                }
                if(!exchange){
                    layer.msg('请选择兑换种类');
                    return false;
                }
                if(exchange == 1){
                    if(!address_id){
                        layer.msg('请选择收货地址');
                        return false;
                    }

                }

                if(exchange != 1){
                    var address_id = 0;
                }
                if(exchange == 3){
                    if(tourtype == 0){
                        layer.msg('请选择旅游线路');
                        return false;
                    }
                    if(tourlist == 0){
                        layer.msg('请选择旅游行程');
                        return false;
                    }
                }
            {if $mylamb['id'] == ''}
                $mylamb['id'] = $_REQUEST['sheep_id'];
            {/if}
                $.ajax({
                    type: 'POST',
                    url: '{:url("/index/user/selllamb")}',
                    data:{
                        buyid:0,
                        exchange:exchange,
                        lambid:lambid,
                        lambmoney:0,
                        id:id,
                        tourtype:tourtype,
                        tourlist:tourlist,
                        realname_da:realname_da,
                        cartid:cartid,
                        realname1:realname1,
                        cartid1:cartid1,
                        realname0:realname0,
                        cartid0:cartid0,
                        mobile:mobile,
                        address_id : address_id
                    },
                    async:false,

                    success: function(data){
                        if(data.type==1){
                            layer.msg(data.msg,function(){
                            //关闭后的操作
                            window.location.href='{:url("/index/user/user")}'
                            });
                            
                        }else{
                            layer.msg(data.msg);
                        }
                    },
                    error: function(xhr){
                        layer.msg('error');
                    }
                });
                resetCode(); //倒计时
            }

    function del_address(id){
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg)==true){
        }else{
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '{:url("/index/user/deladdress")}',
            data:{
                id:id
            },
            dataType:'json',
            success: function(data){
                if(data.type==1){
                    $('#li_'+id).remove();
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg);
                }
            },
            error: function(xhr){
                layer.msg('error');
            }
        });
    }
        
    </script>
</body>
</html>
